.header {
  display: flex;
  background-color: #f0f0f0;
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  justify-content: space-between;
  border: 2px solid black;
}

.logo {
  width: 100px;
  height: fit-content;
}
.nav-container > ul {
  display: flex;
  list-style-type: none;
}

.nav-container > ul > li {
  padding: 1px;
  margin: 5px;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border: black;
  border-radius: 5px;
  transition: 0.4;
}
.filter-btn:hover {
  background-color: orange;
  color: #fff;
}

.filter-btn-nonveg {
  margin: 10px;
  cursor: pointer;
  background-color: red;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border: black;
  border-radius: 5px;
  transition: 0.4;
}

.filter-btn-nonveg:hover {
  background-color: darkred;
  color: #fff;
}

.filter-btn-veg {
  margin: 10px;
  cursor: pointer;
  background-color: green;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border: black;
  border-radius: 5px;
  transition: 0.4;
}

.filter-btn-veg:hover {
  background-color: darkgreen;
  color: #fff;
}
.li1:hover {
  cursor: pointer;
  transform: scale(1.05);
  font-size: large;
  color: black;
}
.li2:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: black;
}
.li3:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: black;
}
.li4:hover {
  cursor: pointer;
  transform: scale(1.05);
  color: black;
}
.rest-container {
  display: flex;
  flex-wrap: wrap;
}

.rest-card {
  margin: 10px;
  padding: 5px;
  width: 405px;
  height: 380px;
}

.rest-card:hover {
  border: 2px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}
.rest-logo {
  padding: 5px;
  width: 200px;
  height: 100px;
  border-radius: 50%;
}

.Shimmer-Container {
  display: flex;
  flex-wrap: wrap;
}

.Shimmer-Cards {
  margin: 10px;
  padding: 5px;
  width: 420px;
  height: 420px;
  background-color: #f0f0f0;
  border: 2px;
}

.login-btn {
  margin: 10px;
  cursor: pointer;
  background-color: palevioletred;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border: black;
  border-radius: 5px;
  transition: 0.4;
}

.login-btn:hover {
  background-color: darkcyan;
  color: #fff;
}
